.daon-table.fixed-table-container { border-radius: 5px 5px 0px 0px; width: 95%; height: 442px; border: 1px solid #DDD; margin: 10px auto; background-color: white; position: relative; padding-top: 30px; }
.daon-table.fixed-table-container table.table-striped { table-layout: fixed; margin: 0; border: 0; }
.daon-table.fixed-table-container table.table-striped .first .th-inner { border-left: none; padding-left: 6px; }
.daon-table.fixed-table-container table.table-striped .th-inner { position: absolute; top: 0; line-height: 30px; text-align: left; border-left: 1px solid #FFF; color: #FFF; padding-left: 5px; margin-left: -9px; }
.daon-table.fixed-table-container table.table-striped > tbody > tr:hover > td { background-color: #f6f6f6; }
.daon-table.fixed-table-container table.table-striped > tbody > tr > td:first-child { border-left: none; }
.daon-table.fixed-table-container table.table-striped th { padding-top: 0px; padding-bottom: 0px; }
.daon-table.fixed-table-container table.table-striped td { /* essential for ellipsis */ text-overflow: ellipsis; width: 50px; white-space: nowrap; overflow: hidden; /* for good looks */ padding: 10px; }
.daon-table.fixed-table-container .fixed-table-container-inner { overflow-x: hidden; overflow-y: auto; height: 100%; }
.daon-table.fixed-table-container .header-background { border-radius: 5px 5px 0px 0px; background-color: #003366; height: 30px; position: absolute; top: 0; right: 0; left: 0; }
.daon-table.fixed-table-container .loading-background { text-align: center; background-color: #FFF; height: 410px; position: absolute; top: 30px; right: 0; left: 0; bottom: 0; }
.daon-table.fixed-table-container .loading-background i { position: relative; top: 150px; }
.daon-table.fixed-table-container .loading-background.hide { display: none; }
.daon-table.fixed-table-container .empty { text-align: center; vertical-align: middle; height: 410px; }

#galleryLayout li { transition: all 1s ease-in; }

#usersTable.fixed-table-container { border-radius: 5px 5px 0px 0px; width: 95%; height: 420px; border: 1px solid #DDD; margin: 10px auto; background-color: white; position: relative; padding-top: 30px; }
#usersTable.fixed-table-container table.table-striped { table-layout: fixed; margin: 0; border: 0; }
#usersTable.fixed-table-container table.table-striped .first .th-inner { border-left: none; padding-left: 6px; }
#usersTable.fixed-table-container table.table-striped .th-inner { position: absolute; top: 0; line-height: 30px; text-align: left; border-left: 1px solid #FFF; color: #FFF; padding-left: 5px; margin-left: -9px; }
#usersTable.fixed-table-container table.table-striped > tbody > tr:hover > td { background-color: #f6f6f6; }
#usersTable.fixed-table-container table.table-striped > tbody > tr > td:first-child { border-left: none; }
#usersTable.fixed-table-container table.table-striped th { padding-top: 0px; padding-bottom: 0px; /*div:hover {
	color: #333333;
	text-shadow: "none";
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #f9f9f9, #e5e5e5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
	background-image: -o-linear-gradient(top, #f9f9f9, #e5e5e5);
	background-image: linear-gradient(to bottom, #f9f9f9, #e5e5e5);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0), argb(#f9f9f9), argb(#e5e5e5);
	border-color: #e5e5e5 #e5e5e5 #bebebe;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}*/ }
#usersTable.fixed-table-container table.table-striped td { /* essential for ellipsis */ text-overflow: ellipsis; width: 50px; white-space: nowrap; overflow: hidden; /* for good looks */ padding: 10px; }
#usersTable.fixed-table-container .fixed-table-container-inner { overflow-x: hidden; overflow-y: auto; height: 100%; }
#usersTable.fixed-table-container .header-background { border-radius: 5px 5px 0px 0px; background-color: #003366; height: 30px; position: absolute; top: 0; right: 0; left: 0; }

@import url(foundation.css);
@import url(font-awesome.css);
/*
Example usage:

@include keyframes(loading) { 0%, 100% { opacity: 1; } 10%, 90% { opacity: 0; }
}
*/
#overlay { background: #080808; position: fixed; z-index: 99999; width: 100%; height: 100%; top: 0px; left: 0px; }
#overlay ul { padding: 0; margin: 300px auto 0; list-style: none; text-align: center; display: block; }
#overlay ul li { width: 10px; height: 10px; background-color: white; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); display: inline-block; border-radius: 50%; margin: 0 4px; -webkit-animation: loading 2.5s infinite; -moz-animation: loading 2.5s infinite; -o-animation: loading 2.5s infinite; -ms-animation: loading 2.5s infinite; animation: loading 2.5s infinite; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -o-animation-fill-mode: both; -ms-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415); -moz-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415); -o-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415); -ms-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415); animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415); }
#overlay ul :nth-child(6) { -webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; -o-animation-delay: 0.1s; -ms-animation-delay: 0.1s; animation-delay: 0.1s; }
#overlay ul :nth-child(5) { -webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; -o-animation-delay: 0.25s; -ms-animation-delay: 0.25s; animation-delay: 0.25s; }
#overlay ul :nth-child(4) { -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; -o-animation-delay: 0.5s; -ms-animation-delay: 0.5s; animation-delay: 0.5s; }
#overlay ul :nth-child(3) { -webkit-animation-delay: 0.75s; -moz-animation-delay: 0.75s; -o-animation-delay: 0.75s; -ms-animation-delay: 0.75s; animation-delay: 0.75s; }
#overlay ul :nth-child(2) { -webkit-animation-delay: 1s; -moz-animation-delay: 1s; -o-animation-delay: 1s; -ms-animation-delay: 1s; animation-delay: 1s; }
#overlay ul :nth-child(1) { -webkit-animation-delay: 1.25s; -moz-animation-delay: 1.25s; -o-animation-delay: 1.25s; -ms-animation-delay: 1.25s; animation-delay: 1.25s; }

@-webkit-keyframes loading { 0% { -webkit-transform: translateX(-30px); opacity: 0; }
  25% { opacity: 1; }
  50% { -webkit-transform: translateX(30px); opacity: 0; }
  100% { opacity: 0; } }

@-moz-keyframes loading { 0% { -moz-transform: translateX(-30px); opacity: 0; }
  25% { opacity: 1; }
  50% { -moz-transform: translateX(30px); opacity: 0; }
  100% { opacity: 0; } }

@-o-keyframes loading { 0% { -o-transform: translateX(-30px); opacity: 0; }
  25% { opacity: 1; }
  50% { -o-transform: translateX(30px); opacity: 0; }
  100% { opacity: 0; } }

@-ms-keyframes loading { 0% { -ms-transform: translateX(-30px); opacity: 0; }
  25% { opacity: 1; }
  50% { -ms-transform: translateX(30px); opacity: 0; }
  100% { opacity: 0; } }

@keyframes loading { 0% { -ms-transform: translateX(-30px); opacity: 0; }
  25% { opacity: 1; }
  50% { -ms-transform: translateX(30px); opacity: 0; }
  100% { opacity: 0; } }
