<div class="row">
  <div class="large-1 medium-1 small-1 column">&nbsp;</div>
  <div class="large-10 medium-10 small-10 column center">
    <dl id="tabs" class="tabs stickit" data-tab>x</dl>
    <div class="tabs-content stickit">
      <div id="panel-Demo" class="content large-12 medium-12 small-12">
        <iframe id="videoLink" class="stickit" width="100%" height="375" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
      <div id="panel-Preview" class="content large-12 medium-12 small-12">
        <div class="imageContainer">
          <a class="th"><img id="imageLink" class="stickit"/></a>
        </div>
      </div>
      <div id="panel-Code" class="content large-12 medium-12 small-12"><pre><code></code></pre></div>
    </div>
    <h4 id="title"></h4>
    <p id="description"></p>
  </div>
  <div class="large-1 medium-1 small-1 column">&nbsp;</div>
</div>