.detail {

	text-align: left;

	.imageContainer {
		text-align: center;
	}

	iframe {
		margin: 0 auto;
		display: block;
		overflow: hidden;
	}

	.tabs-content {
		.content {

			/*&#panel-Code {
				overflow: auto;
				background-color: #000;
			}*/

			//height: 450px;
			pre {
				height: 100%;
				code {
					height: 100%;
					font-size: 14px;
					overflow: auto;
				}
			}
			/*

			Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

			*/

			pre code {
			  display: block;
			  padding: 0.5em;
			  background: #23241f;
			}
			pre .tag,
			pre code {
			  color: #f8f8f2;
			}
			pre .keyword,
			pre .function,
			pre .literal,
			pre .change,
			pre .winutils,
			pre .flow,
			pre .lisp .title,
			pre .clojure .built_in,
			pre .nginx .title,
			pre .tex .special {
			  color: #66d9ef;
			}
			pre .variable,
			pre .params {
			  color: #fd9720;
			}
			pre .constant {
			  color: #66d9ef;
			}
			pre .title,
			pre .class .title,
			pre .css .class {
			  color: #a6e22e;
			}
			pre .attribute,
			pre .symbol,
			pre .symbol .string,
			pre .tag .title,
			pre .value,
			pre .css .tag {
			  color: #f92672;
			}
			pre .number,
			pre .preprocessor,
			pre .pragma,
			pre .regexp {
			  color: #ae81ff;
			}
			pre .tag .value,
			pre .string,
			pre .css .id,
			pre .subst,
			pre .haskell .type,
			pre .ruby .class .parent,
			pre .built_in,
			pre .sql .aggregate,
			pre .django .template_tag,
			pre .django .variable,
			pre .smalltalk .class,
			pre .django .filter .argument,
			pre .smalltalk .localvars,
			pre .smalltalk .array,
			pre .attr_selector,
			pre .pseudo,
			pre .addition,
			pre .stream,
			pre .envvar,
			pre .apache .tag,
			pre .apache .cbracket,
			pre .tex .command,
			pre .prompt {
			  color: #e6db74;
			}
			pre .comment,
			pre .javadoc,
			pre .java .annotation,
			pre .python .decorator,
			pre .template_comment,
			pre .pi,
			pre .doctype,
			pre .deletion,
			pre .shebang,
			pre .apache .sqbracket,
			pre .tex .formula {
			  color: #75715e;
			}
			pre .coffeescript .javascript,
			pre .javascript .xml,
			pre .tex .formula {
			  opacity: 0.5;
			}
			pre .xml .javascript,
			pre .xml .vbscript,
			pre .xml .css,
			pre .xml .cdata {
			  opacity: 0.5;
			}
		}
	}
}