<div class="row">
	<div class="large-1 medium-1 small-0 column">&nbsp;</div>
	<div class="large-10 medium-10 small-12 column center">
		<iframe id="videoLink" class="stickit contentDimensions" width="100%" height="500" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		<h4 id="title"></h4>
		<p id="description"></p>
	</div>
	<div class="large-1 medium-1 small-0 column">&nbsp;</div>
</div>