<div class="row">
	<div class="large-2 medium-2 small-1 column">&nbsp;</div>
	<div class="large-8 medium-8 small-10 column center">
		<div class="imageContainer">
		<a class="th"><img id="imageLink" class="stickit"/></a>
		</div>
		<h4 id="title"></h4>
		<p id="description"></p>
	</div>
	<div class="large-2 medium-2 small-1 column">&nbsp;</div>
</div>