<div class="row">
	<div class="large-12 columns">
		<h1>Explorer</h1>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="row">
		    <div id="configArea" class="large-12 columns"></div>
	    </div>
		<div class="row">
		    <div id="contentArea" class="large-12 columns"></div>
	    </div>
	</div>
</div>
<div id="modal" class="reveal-modal medium" data-reveal>
	<div id="modalContent"></div>
	<a class="close-reveal-modal">&#215;</a>
</div>