.gallery-layout {

	#modal {
		text-align: center;
	}

	.thumbnails-view {

		
		li.hidden{
			a {
				img {
					//visibility: hidden;
					opacity:0;
				}
			}
		}

		li {
		 	transition: all 0.7s ease-in;
		 	a {
		 		background: #fff;
		 		padding: 10px 10px 15px;
				text-align: center;

				background-image: url(../img/gallery/thumb-loader.gif);
				background-position: 50%;
				background-repeat: no-repeat;

				img {
					transition: opacity 0.2s ease-in;
					opacity:1;
					margin-bottom: 12px;

				}

				&.Folder {
					-webkit-transform: none;
	  				-moz-transform: none;
					top: 0px;
				}

				&.active {
					border-color: aqua;
				}
				&.active.focused {
					border-color: aquamarine;
				}

				&:after {
				  content: attr(title);
				}

			 	/* Scale the images on hover, add transitions for smoothing things out, and ensure the hover appears on top */
				&:hover {
				  -webkit-transform: scale(1.25);
				  -moz-transform: scale(1.25);
				  position: relative;
				  z-index: 5;
				}
				
				/* Add drop shadows and smooth out the transition (Safari only) */
				& {
				  -webkit-transition: -webkit-transform .15s linear;
				  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
				  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
				}
				 
				/* On hover, darken the shadows a bit */
				&:hover {
				  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
				  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
				}

		 	}
			
		}

	}
	
	#configArea {
		li:nth-child(3n) a {
		  top: 0px;
		}

	}

	//http://zurb.com/playground/css3-polaroids
	/* By default, we tilt all our images -2 degrees */
	li a {
	  -webkit-transform: rotate(-2deg);
	  -moz-transform: rotate(-2deg);
	}
	 
	/* Rotate all even images 2 degrees */
	li:nth-child(even) a {
	  -webkit-transform: rotate(2deg);
	  -moz-transform: rotate(2deg);
	}
	 
	/* Don't rotate every third image, but offset its position */
	li:nth-child(3n) a {
	  -webkit-transform: none;
	  -moz-transform: none;
	  position: relative;
	  top: -5px;
	}
	 
	/* Rotate every fifth image by 5 degrees and offset it */
	li:nth-child(5n) a {
	  -webkit-transform: rotate(5deg);
	  -moz-transform: rotate(5deg);
	  position: relative;
	  right: 5px;
	}
	 
	/* Keep default rotate for every eighth, but offset it */
	li:nth-child(8n) a {
	  position: relative;
	  top: 8px;
	  right: 5px;
	}
	 
	/* Keep default rotate for every eleventh, but offset it */
	li:nth-child(11n) a {
	  position: relative;
	  top: 3px;
	  left: -5px;
	}

}